apiVersion: v1
clusters:
- cluster:
    certificate-authority: /Users/stolle/.minikube/ca.crt
    extensions:
    - extension:
        last-update: Wed, 19 Jun 2024 14:41:39 CEST
        provider: minikube.sigs.k8s.io
        version: v1.33.1
      name: cluster_info
    server: https://127.0.0.1:52508
  name: minikube
contexts:
- context:
    cluster: minikube
    extensions:
    - extension:
        last-update: Wed, 19 Jun 2024 14:41:39 CEST
        provider: minikube.sigs.k8s.io
        version: v1.33.1
      name: context_info
    namespace: default
    user: minikube
  name: minikube
current-context: minikube
kind: Config
preferences: {}
users:
- name: minikube
  user:
    client-certificate: /Users/stolle/.minikube/profiles/minikube/client.crt
    client-key: /Users/stolle/.minikube/profiles/minikube/client.key
